In [1]:
import pandas as pd
from scipy.sparse import csr_matrix

In [2]:
table = pd.read_table('http://millionsongdataset.com/sites/default/files/AdditionalFiles/unique_tracks.txt',sep = '<SEP>', header = None )

/Users/alextsai/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
table.columns = ['track_id','song_id','artist','title']

In [4]:
small_file = 'https://static.turi.com/datasets/millionsong/10000.txt'
listen_data_small = pd.read_table(small_file, header = None)
listen_data_small.columns = ['user_id','item_id','listen_count']

In [5]:
genres = pd.read_table('http://www.ifs.tuwien.ac.at/mir/msd/partitions/msd-topMAGD-genreAssignment.cls', header = None)
genres.columns = ['track_id','genre']

In [6]:
genre_dummies = pd.merge(genres, pd.get_dummies(genres.genre),left_index = True, right_index=True).drop(columns = 'genre')

In [7]:
listen_data_small

,user_id,item_id,listen_count
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1
...,...,...,...
1999995,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJEYPO12AAA8C6B0E,2
1999996,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJJYDE12AF729FC16,4
1999997,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJKQSF12A6D4F5EE9,3
1999998,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJUXGA12AC961885C,1
1999999,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJYOLS12A8C13C06F,1

In [8]:
small_merged = pd.merge(listen_data_small, table, left_on='item_id', right_on='song_id', how = 'left')

In [9]:
small_merged_genres = pd.merge(small_merged, genres, left_on='item_id', right_on='track_id', how = 'left')

In [10]:
data_small_pivot = small_merged_genres.pivot(index = 'user_id',columns='track_id_x',values='listen_count')
data_small_pivot = data_small_pivot.fillna(0)
value_matrix = csr_matrix(data_small_pivot)

In [11]:
songs = pd.DataFrame(data_small_pivot.columns)

In [12]:
songs_temp = songs

In [13]:
songs = pd.merge(songs, genre_dummies, left_on = 'item_id', right_on = 'track_id',how = 'left')

KeyError: 'item_id'

In [ ]:
songs = songs.fillna(0).drop(columns = 'track_id')

In [129]:
songs.to_csv('data/genre_dummy_features.csv')

In [ ]:
small_merged['item_id'] = small_merged.track_id

In [ ]:
small_merged = small_merged.drop(columns = 'track_id')

In [92]:
small_merged.to_csv('data/listen_data_updated_id')

## SQLITE SETS

In [13]:
import sqlite3

In [14]:
conn = sqlite3.connect('data/lastfm_tags.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('tags',), ('tids',), ('tid_tag',)]

In [15]:
cursor.execute("SELECT * FROM tid_tag")
cursor.fetchall()

[(1, 1, 100.0),
 (1, 2, 100.0),
 (2, 3, 100.0),
 (2, 4, 100.0),
 (3, 5, 100.0),
 (3, 6, 33.0),
 (3, 7, 33.0),
 (3, 8, 33.0),
 (4, 9, 100.0),
 (4, 10, 66.0),
 (4, 11, 66.0),
 (4, 12, 66.0),
 (4, 13, 66.0),
 (4, 14, 33.0),
 (4, 15, 33.0),
 (4, 16, 33.0),
 (4, 17, 33.0),
 (4, 18, 33.0),
 (4, 19, 33.0),
 (4, 20, 33.0),
 (4, 21, 33.0),
 (4, 22, 33.0),
 (5, 23, 100.0),
 (6, 24, 100.0),
 (6, 25, 20.0),
 (6, 26, 20.0),
 (6, 27, 20.0),
 (6, 28, 20.0),
 (6, 29, 20.0),
 (6, 30, 20.0),
 (6, 31, 20.0),
 (6, 32, 20.0),
 (6, 33, 20.0),
 (6, 34, 20.0),
 (6, 35, 20.0),
 (6, 36, 20.0),
 (6, 37, 20.0),
 (6, 38, 20.0),
 (6, 39, 20.0),
 (6, 40, 20.0),
 (6, 41, 0.0),
 (7, 42, 100.0),
 (7, 43, 69.0),
 (7, 44, 61.0),
 (7, 45, 53.0),
 (7, 46, 46.0),
 (7, 47, 23.0),
 (7, 48, 23.0),
 (7, 49, 23.0),
 (7, 50, 15.0),
 (7, 51, 15.0),
 (7, 52, 15.0),
 (7, 53, 15.0),
 (7, 54, 15.0),
 (7, 55, 15.0),
 (7, 56, 15.0),
 (7, 57, 15.0),
 (7, 58, 15.0),
 (7, 59, 7.0),
 (7, 60, 7.0),
 (7, 61, 7.0),
 (7, 62, 7.0),
 (7, 63, 7.0),
 (7, 64, 7.0),
 (7, 65, 7.0),
 (7, 66, 7.0),
 (7, 67, 7.0),
 (7, 68, 7.0),
 (7, 69, 7.0),
 (7, 70, 7.0),
 (7, 71, 7.0),
 (7, 72, 7.0),
 (7, 73, 7.0),
 (7, 74, 7.0),
 (7, 75, 7.0),
 (7, 76, 7.0),
 (7, 77, 7.0),
 (7, 78, 7.0),
 (7, 79, 7.0),
 (7, 80, 7.0),
 (7, 81, 7.0),
 (7, 82, 7.0),
 (7, 83, 0.0),
 (7, 84, 0.0),
 (7, 85, 0.0),
 (7, 86, 0.0),
 (7, 87, 0.0),
 (7, 88, 0.0),
 (7, 89, 0.0),
 (7, 90, 0.0),
 (8, 91, 100.0),
 (8, 92, 66.0),
 (8, 93, 33.0),
 (9, 94, 100.0),
 (10, 95, 100.0),
 (10, 96, 66.0),
 (10, 38, 33.0),
 (10, 5, 33.0),
 (10, 97, 33.0),
 (10, 98, 33.0),
 (10, 99, 33.0),
 (10, 100, 33.0),
 (11, 2, 100.0),
 (11, 96, 50.0),
 (11, 101, 50.0),
 (11, 16, 50.0),
 (11, 102, 50.0),
 (12, 103, 100.0),
 (12, 104, 100.0),
 (13, 104, 100.0),
 (13, 105, 88.0),
 (13, 106, 22.0),
 (13, 107, 22.0),
 (13, 108, 22.0),
 (13, 109, 22.0),
 (13, 110, 11.0),
 (13, 111, 11.0),
 (13, 112, 11.0),
 (13, 113, 11.0),
 (13, 114, 11.0),
 (13, 115, 11.0),
 (13, 116, 11.0),
 (13, 117, 11.0),
 (13, 118, 11.0),
 (13, 119, 11.0),
 (13, 120, 11.0),
 (13, 121, 11.0),
 (13, 122, 11.0),
 (13, 123, 11.0),
 (13, 124, 11.0),
 (13, 125, 11.0),
 (13, 126, 0.0),
 (13, 127, 0.0),
 (13, 128, 0.0),
 (14, 129, 100.0),
 (14, 10, 57.0),
 (14, 130, 28.0),
 (14, 131, 14.0),
 (14, 132, 14.0),
 (14, 133, 14.0),
 (14, 134, 14.0),
 (14, 135, 14.0),
 (15, 136, 100.0),
 (15, 137, 100.0),
 (15, 138, 50.0),
 (15, 139, 50.0),
 (15, 140, 50.0),
 (15, 141, 50.0),
 (15, 142, 50.0),
 (15, 143, 50.0),
 (16, 144, 100.0),
 (16, 145, 40.0),
 (16, 146, 40.0),
 (16, 147, 20.0),
 (16, 148, 20.0),
 (16, 149, 20.0),
 (16, 150, 20.0),
 (16, 70, 20.0),
 (16, 151, 20.0),
 (16, 152, 20.0),
 (16, 153, 20.0),
 (16, 154, 20.0),
 (16, 155, 20.0),
 (16, 156, 20.0),
 (16, 157, 0.0),
 (17, 158, 100.0),
 (18, 159, 100.0),
 (18, 160, 100.0),
 (18, 161, 50.0),
 (18, 162, 50.0),
 (18, 163, 50.0),
 (19, 164, 100.0),
 (19, 165, 100.0),
 (19, 166, 66.0),
 (19, 167, 66.0),
 (19, 168, 66.0),
 (19, 147, 33.0),
 (19, 70, 33.0),
 (19, 169, 33.0),
 (19, 170, 33.0),
 (19, 171, 33.0),
 (19, 172, 33.0),
 (19, 173, 33.0),
 (20, 174, 100.0),
 (20, 175, 100.0),
 (20, 176, 100.0),
 (20, 177, 100.0),
 (20, 178, 100.0),
 (20, 179, 100.0),
 (20, 180, 100.0),
 (20, 181, 100.0),
 (20, 182, 100.0),
 (20, 183, 100.0),
 (20, 184, 100.0),
 (20, 185, 100.0),
 (20, 186, 100.0),
 (20, 187, 100.0),
 (20, 188, 100.0),
 (20, 189, 100.0),
 (20, 190, 100.0),
 (20, 191, 100.0),
 (20, 192, 100.0),
 (20, 193, 100.0),
 (20, 194, 100.0),
 (20, 195, 100.0),
 (20, 196, 100.0),
 (20, 197, 100.0),
 (20, 198, 100.0),
 (20, 199, 100.0),
 (20, 200, 100.0),
 (20, 201, 100.0),
 (20, 95, 100.0),
 (21, 202, 100.0),
 (21, 203, 25.0),
 (22, 201, 100.0),
 (22, 204, 100.0),
 (22, 205, 100.0),
 (23, 206, 100.0),
 (23, 207, 12.0),
 (23, 70, 12.0),
 (23, 208, 12.0),
 (23, 209, 0.0),
 (23, 210, 0.0),
 (24, 211, 100.0),
 (24, 212, 33.0),
 (24, 213, 33.0),
 (24, 214, 33.0),
 (25, 215, 100.0),
 (25, 216, 100.0),
 (25, 217, 100.0),
 (25, 218, 100.0),
 (25, 219, 100.0),
 (26, 220, 100.0),
 (27, 221, 100.0),
 (27, 222, 20.0),
 (27, 223, 20.0),
 (27, 224, 20.0),
 (27, 225, 20.0),
 (27, 226, 20.0),
 (27, 227, 20.0),
 (27, 228, 20.0),
 (27, 229, 20.0),
 (28, 95, 100.0),
 (28, 5, 94.0),
 (28, 230, 33.0),
 (28, 75, 27.0),
 (28, 231, 16.0),
 (28, 38, 16.0),
 (28, 232, 16.0),
 (28, 233, 16.0),
 (28, 234, 11.0),
 (28, 235, 11.0),
 (28, 236, 11.0),
 (28, 237, 11.0),
 (28, 150, 11.0),
 (28, 238, 11.0),
 (28, 147, 11.0),
 (28, 239, 11.0),
 (28, 96, 11.0),
 (28, 240, 5.0),
 (28, 241, 5.0),
 (28, 242, 5.0),
 (28, 243, 5.0),
 (28, 244, 5.0),
 (28, 245, 5.0),
 (28, 246, 5.0),
 (28, 247, 5.0),
 (28, 248, 5.0),
 (28, 249, 5.0),
 (28, 250, 5.0),
 (28, 251, 5.0),
 (28, 252, 5.0),
 (28, 253, 5.0),
 (28, 254, 5.0),
 (28, 255, 5.0),
 (28, 256, 5.0),
 (28, 257, 5.0),
 (28, 258, 5.0),
 (28, 259, 5.0),
 (28, 260, 5.0),
 (28, 261, 5.0),
 (28, 262, 5.0),
 (28, 34, 5.0),
 (28, 70, 5.0),
 (28, 263, 5.0),
 (28, 264, 5.0),
 (28, 265, 5.0),
 (28, 266, 5.0),
 (28, 267, 5.0),
 (28, 268, 5.0),
 (28, 269, 5.0),
 (28, 270, 5.0),
 (28, 271, 5.0),
 (28, 272, 5.0),
 (28, 273, 5.0),
 (28, 274, 5.0),
 (28, 275, 5.0),
 (28, 276, 5.0),
 (28, 277, 5.0),
 (28, 278, 5.0),
 (28, 279, 5.0),
 (28, 41, 0.0),
 (28, 40, 0.0),
 (28, 280, 0.0),
 (28, 281, 0.0),
 (28, 282, 0.0),
 (28, 283, 0.0),
 (28, 284, 0.0),
 (28, 285, 0.0),
 (28, 286, 0.0),
 (28, 287, 0.0),
 (28, 288, 0.0),
 (28, 289, 0.0),
 (28, 290, 0.0),
 (28, 291, 0.0),
 (28, 292, 0.0),
 (28, 293, 0.0),
 (29, 55, 100.0),
 (29, 158, 94.0),
 (29, 294, 82.0),
 (29, 295, 70.0),
 (29, 296, 41.0),
 (29, 297, 23.0),
 (29, 298, 17.0),
 (29, 299, 17.0),
 (29, 300, 11.0),
 (29, 301, 11.0),
 (29, 302, 11.0),
 (29, 303, 11.0),
 (29, 304, 11.0),
 (29, 305, 11.0),
 (29, 306, 11.0),
 (29, 41, 11.0),
 (29, 307, 5.0),
 (29, 308, 5.0),
 (29, 309, 5.0),
 (29, 310, 5.0),
 (29, 15, 5.0),
 (29, 311, 5.0),
 (29, 312, 5.0),
 (29, 313, 5.0),
 (29, 314, 5.0),
 (29, 315, 5.0),
 (29, 316, 5.0),
 (29, 317, 5.0),
 (29, 318, 5.0),
 (29, 319, 5.0),
 (29, 320, 5.0),
 (29, 321, 5.0),
 (29, 322, 5.0),
 (29, 323, 5.0),
 (29, 324, 5.0),
 (29, 325, 5.0),
 (29, 326, 5.0),
 (29, 327, 5.0),
 (29, 328, 5.0),
 (29, 329, 5.0),
 (29, 330, 5.0),
 (29, 331, 5.0),
 (29, 63, 5.0),
 (29, 332, 5.0),
 (29, 333, 5.0),
 (29, 334, 5.0),
 (29, 335, 5.0),
 (29, 336, 0.0),
 (29, 40, 0.0),
 (29, 337, 0.0),
 (29, 338, 0.0),
 (29, 339, 0.0),
 (29, 340, 0.0),
 (29, 341, 0.0),
 (30, 342, 100.0),
 (30, 343, 100.0),
 (30, 344, 100.0),
 (31, 345, 100.0),
 (31, 346, 32.0),
 (31, 347, 32.0),
 (31, 348, 32.0),
 (31, 349, 25.0),
 (31, 10, 17.0),
 (31, 147, 10.0),
 (31, 350, 7.0),
 (31, 351, 7.0),
 (31, 352, 7.0),
 (31, 353, 7.0),
 (31, 354, 7.0),
 (31, 355, 7.0),
 (31, 296, 7.0),
 (31, 356, 7.0),
 (31, 357, 7.0),
 (31, 320, 3.0),
 (31, 319, 3.0),
 (31, 358, 3.0),
 (31, 359, 3.0),
 (31, 360, 3.0),
 (31, 361, 3.0),
 (31, 362, 3.0),
 (31, 363, 3.0),
 (31, 364, 3.0),
 (31, 297, 3.0),
 (31, 238, 3.0),
 (31, 5, 3.0),
 (31, 365, 3.0),
 (31, 366, 3.0),
 (31, 367, 3.0),
 (31, 368, 3.0),
 (31, 369, 3.0),
 (31, 370, 3.0),
 (31, 371, 3.0),
 (31, 372, 0.0),
 (31, 40, 0.0),
 (31, 373, 0.0),
 (31, 374, 0.0),
 (31, 375, 0.0),
 (31, 376, 0.0),
 (31, 377, 0.0),
 (32, 158, 100.0),
 (32, 5, 100.0),
 (32, 70, 100.0),
 (32, 378, 100.0),
 (32, 326, 100.0),
 (33, 379, 100.0),
 (33, 380, 58.0),
 (33, 381, 41.0),
 (33, 382, 41.0),
 (33, 38, 41.0),
 (33, 383, 25.0),
 (33, 384, 25.0),
 (33, 385, 25.0),
 (33, 386, 16.0),
 (33, 387, 16.0),
 (33, 388, 16.0),
 (33, 389, 16.0),
 (33, 390, 16.0),
 (33, 391, 16.0),
 (33, 238, 16.0),
 (33, 392, 16.0),
 (33, 393, 8.0),
 (33, 394, 8.0),
 (33, 395, 8.0),
 (33, 396, 8.0),
 (33, 397, 8.0),
 (33, 398, 8.0),
 (33, 399, 8.0),
 (33, 400, 8.0),
 (33, 401, 8.0),
 (33, 402, 8.0),
 (33, 403, 8.0),
 (33, 404, 8.0),
 (33, 405, 8.0),
 (33, 269, 8.0),
 (33, 36, 8.0),
 (33, 10, 8.0),
 (33, 406, 8.0),
 (33, 407, 8.0),
 (33, 41, 8.0),
 (33, 408, 8.0),
 (33, 74, 8.0),
 (33, 409, 8.0),
 (33, 410, 8.0),
 (33, 411, 8.0),
 (33, 412, 8.0),
 (33, 413, 8.0),
 (33, 414, 8.0),
 (33, 415, 8.0),
 (33, 416, 0.0),
 (33, 417, 0.0),
 (33, 418, 0.0),
 (33, 419, 0.0),
 (33, 420, 0.0),
 (33, 421, 0.0),
 (33, 422, 0.0),
 (33, 423, 0.0),
 (33, 98, 0.0),
 (33, 424, 0.0),
 (33, 34, 0.0),
 (33, 425, 0.0),
 (33, 426, 0.0),
 (33, 427, 0.0),
 (33, 428, 0.0),
 (33, 429, 0.0),
 (34, 39, 100.0),
 (34, 430, 100.0),
 (34, 431, 100.0),
 (34, 34, 50.0),
 (34, 432, 50.0),
 (34, 433, 50.0),
 (34, 434, 50.0),
 (34, 435, 50.0),
 (34, 436, 50.0),
 (34, 437, 50.0),
 (34, 438, 50.0),
 (34, 439, 50.0),
 (35, 96, 100.0),
 (36, 379, 100.0),
 (36, 440, 62.0),
 (36, 441, 50.0),
 (36, 442, 37.0),
 (36, 34, 25.0),
 (36, 443, 25.0),
 (36, 444, 12.0),
 (36, 445, 12.0),
 (36, 446, 12.0),
 (36, 447, 12.0),
 (36, 448, 12.0),
 (36, 39, 12.0),
 (36, 195, 0.0),
 (36, 449, 0.0),
 (36, 450, 0.0),
 (36, 451, 0.0),
 (36, 239, 0.0),
 (36, 452, 0.0),
 (36, 453, 0.0),
 (36, 382, 0.0),
 (37, 345, 100.0),
 (37, 347, 66.0),
 (37, 454, 33.0),
 (38, 5, 100.0),
 (38, 455, 76.0),
 (38, 456, 60.0),
 (38, 457, 48.0),
 (38, 458, 36.0),
 (38, 322, 16.0),
 (38, 95, 12.0),
 (38, 459, 12.0),
 (38, 138, 12.0),
 (38, 460, 12.0),
 (38, 461, 12.0),
 (38, 462, 12.0),
 (38, 463, 8.0),
 (38, 307, 8.0),
 (38, 464, 8.0),
 (38, 465, 4.0),
 (38, 466, 4.0),
 (38, 467, 4.0),
 (38, 468, 4.0),
 (38, 469, 4.0),
 (38, 470, 4.0),
 (38, 471, 4.0),
 (38, 472, 4.0),
 (38, 473, 4.0),
 (38, 474, 4.0),
 (38, 475, 4.0),
 (38, 476, 4.0),
 (38, 477, 4.0),
 (38, 478, 4.0),
 (38, 479, 4.0),
 (38, 480, 4.0),
 (38, 38, 4.0),
 (38, 269, 4.0),
 (38, 96, 4.0),
 (38, 481, 4.0),
 (38, 98, 4.0),
 (38, 34, 4.0),
 (38, 482, 4.0),
 (38, 483, 4.0),
 (38, 484, 4.0),
 (38, 485, 4.0),
 (38, 486, 4.0),
 (38, 487, 4.0),
 (38, 488, 4.0),
 (38, 489, 4.0),
 (38, 490, 4.0),
 (38, 491, 4.0),
 (38, 492, 0.0),
 (38, 493, 0.0),
 (38, 494, 0.0),
 (38, 495, 0.0),
 (38, 496, 0.0),
 (39, 497, 100.0),
 (40, 347, 100.0),
 (40, 498, 66.0),
 (40, 499, 66.0),
 (40, 500, 33.0),
 (40, 501, 33.0),
 (40, 502, 33.0),
 (40, 503, 33.0),
 (40, 504, 33.0),
 (40, 505, 33.0),
 (40, 506, 33.0),
 (40, 507, 33.0),
 (40, 508, 33.0),
 (41, 509, 100.0),
 (42, 379, 100.0),
 (42, 510, 100.0),
 (42, 511, 75.0),
 (42, 512, 75.0),
 (42, 513, 75.0),
 (42, 514, 75.0),
 (42, 443, 75.0),
 (42, 515, 75.0),
 (42, 516, 75.0),
 (42, 517, 75.0),
 (42, 518, 75.0),
 (42, 519, 75.0),
 (42, 520, 75.0),
 (42, 521, 75.0),
 (42, 522, 75.0),
 (42, 523, 75.0),
 (42, 524, 75.0),
 (42, 195, 75.0),
 (42, 37, 75.0),
 (42, 384, 75.0),
 (42, 380, 75.0),
 (42, 525, 50.0),
 (42, 526, 50.0),
 (42, 70, 50.0),
 (42, 453, 50.0),
 (42, 527, 50.0),
 (42, 528, 25.0),
 (42, 529, 25.0),
 (42, 530, 25.0),
 (42, 531, 25.0),
 (42, 532, 25.0),
 (42, 533, 25.0),
 (42, 534, 25.0),
 (42, 535, 25.0),
 (42, 536, 25.0),
 (42, 537, 25.0),
 (42, 538, 25.0),
 (42, 539, 25.0),
 (42, 540, 25.0),
 (42, 541, 25.0),
 (42, 542, 25.0),
 (42, 265, 25.0),
 (42, 543, 25.0),
 (42, 238, 25.0),
 (43, 138, 100.0),
 (43, 544, 75.0),
 (43, 545, 33.0),
 (43, 136, 33.0),
 (43, 546, 29.0),
 (43, 547, 25.0),
 (43, 548, 20.0),
 (43, 322, 20.0),
 (43, 549, 20.0),
 (43, 550, 16.0),
 (43, 551, 16.0),
 (43, 552, 12.0),
 (43, 553, 12.0),
 (43, 554, 12.0),
 (43, 458, 12.0),
 (43, 555, 8.0),
 (43, 556, 8.0),
 (43, 557, 8.0),
 (43, 558, 8.0),
 (43, 559, 8.0),
 (43, 560, 8.0),
 (43, 148, 8.0),
 (43, 481, 8.0),
 (43, 561, 8.0),
 (43, 86, 8.0),
 (43, 562, 8.0),
 (43, 563, 4.0),
 (43, 564, 4.0),
 (43, 565, 4.0),
 (43, 566, 4.0),
 (43, 567, 4.0),
 (43, 568, 4.0),
 (43, 569, 4.0),
 (43, 570, 4.0),
 (43, 571, 4.0),
 (43, 572, 4.0),
 (43, 573, 4.0),
 (43, 574, 4.0),
 (43, 575, 4.0),
 (43, 576, 4.0),
 (43, 577, 4.0),
 (43, 578, 4.0),
 (43, 579, 4.0),
 (43, 69, 4.0),
 (43, 5, 4.0),
 (43, 580, 4.0),
 (43, 581, 4.0),
 (43, 582, 4.0),
 (43, 407, 4.0),
 (43, 583, 4.0),
 (43, 584, 4.0),
 (43, 38, 4.0),
 (43, 585, 4.0),
 (43, 586, 4.0),
 (43, 587, 4.0),
 (43, 588, 4.0),
 (43, 589, 4.0),
 (43, 590, 4.0),
 (43, 591, 4.0),
 (43, 592, 4.0),
 (43, 593, 0.0),
 (43, 594, 0.0),
 (43, 595, 0.0),
 (43, 596, 0.0),
 (43, 597, 0.0),
 (43, 598, 0.0),
 (43, 599, 0.0),
 (43, 600, 0.0),
 (43, 601, 0.0),
 (44, 221, 100.0),
 (45, 602, 100.0),
 (45, 603, 75.0),
 (45, 203, 50.0),
 (45, 604, 50.0),
 (45, 158, 25.0),
 (45, 58, 25.0),
 (45, 41, 25.0),
 (45, 605, 25.0),
 (45, 606, 25.0),
 (45, 607, 25.0),
 (45, 608, 25.0),
 (45, 609, 25.0),
 (45, 610, 25.0),
 (45, 492, 0.0),
 (46, 5, 100.0),
 (46, 611, 75.0),
 (46, 10, 50.0),
 (46, 96, 50.0),
 (46, 95, 25.0),
 (46, 86, 25.0),
 (46, 612, 25.0),
 (46, 613, 25.0),
 (46, 614, 25.0),
 (46, 615, 25.0),
 (46, 616, 25.0),
 (46, 75, 0.0),
 (46, 617, 0.0),
 (47, 58, 100.0),
 (47, 618, 60.0),
 (47, 10, 60.0),
 (47, 347, 40.0),
 (47, 619, 40.0),
 (47, 620, 40.0),
 (47, 621, 20.0),
 (47, 14, 20.0),
 (47, 622, 20.0),
 (47, 55, 20.0),
 (47, 623, 20.0),
 (47, 624, 20.0),
 (47, 345, 20.0),
 (47, 625, 20.0),
 (47, 626, 20.0),
 (47, 627, 20.0),
 (47, 54, 0.0),
 (47, 628, 0.0),
 (47, 629, 0.0),
 (47, 630, 0.0),
 (47, 631, 0.0),
 (47, 632, 0.0),
 (47, 633, 0.0),
 (47, 69, 0.0),
 (47, 634, 0.0),
 (47, 5, 0.0),
 (47, 6, 0.0),
 (47, 635, 0.0),
 (47, 636, 0.0),
 (47, 637, 0.0),
 (48, 38, 100.0),
 (48, 291, 75.0),
 (48, 638, 75.0),
 (48, 95, 50.0),
 (48, 201, 50.0),
 (48, 639, 50.0),
 (48, 230, 50.0),
 (48, 640, 50.0),
 (48, 641, 25.0),
 (48, 642, 25.0),
 (48, 643, 25.0),
 (48, 644, 25.0),
 (48, 645, 25.0),
 (48, 646, 25.0),
 (48, 647, 25.0),
 (48, 485, 25.0),
 (48, 45, 25.0),
 (48, 70, 25.0),
 (48, 648, 25.0),
 (48, 649, 25.0),
 (48, 650, 0.0),
 (48, 651, 0.0),
 (49, 43, 100.0),
 (49, 42, 100.0),
 (49, 652, 50.0),
 (49, 70, 50.0),
 (49, 653, 50.0),
 (49, 41, 50.0),
 (49, 654, 50.0),
 (49, 46, 50.0),
 (49, 158, 50.0),
 (49, 655, 25.0),
 (49, 656, 25.0),
 (49, 657, 25.0),
 (49, 658, 25.0),
 (49, 659, 25.0),
 (49, 660, 25.0),
 (49, 295, 25.0),
 (49, 661, 25.0),
 (49, 331, 25.0),
 (49, 347, 0.0),
 (49, 238, 0.0),
 (49, 662, 0.0),
 (49, 663, 0.0),
 (49, 664, 0.0),
 (49, 665, 0.0),
 (49, 666, 0.0),
 (49, 667, 0.0),
 (49, 668, 0.0),
 (49, 669, 0.0),
 (49, 670, 0.0),
 (49, 671, 0.0),
 (49, 672, 0.0),
 (49, 673, 0.0),
 (49, 674, 0.0),
 (49, 675, 0.0),
 (49, 676, 0.0),
 (49, 677, 0.0),
 (50, 206, 100.0),
 (51, 196, 100.0),
 (51, 678, 100.0),
 (51, 679, 100.0),
 (52, 379, 100.0),
 (52, 382, 100.0),
 (52, 269, 100.0),
 (52, 680, 100.0),
 (53, 197, 100.0),
 (53, 681, 100.0),
 (53, 449, 100.0),
 (53, 682, 100.0),
 (53, 683, 100.0),
 (54, 83, 100.0),
 (55, 684, 100.0),
 (56, 685, 100.0),
 (56, 686, 75.0),
 (56, 10, 50.0),
 (56, 687, 50.0),
 (56, 43, 25.0),
 (56, 136, 25.0),
 (56, 688, 25.0),
 (56, 689, 25.0),
 (56, 690, 25.0),
 (56, 691, 25.0),
 (56, 692, 25.0),
 (56, 693, 25.0),
 (56, 621, 25.0),
 (56, 694, 0.0),
 (56, 695, 0.0),
 (57, 104, 100.0),
 (57, 696, 50.0),
 (57, 105, 50.0),
 (57, 106, 37.0),
 (57, 697, 25.0),
 (57, 698, 25.0),
 (57, 699, 25.0),
 (57, 54, 12.0),
 (57, 700, 12.0),
 (57, 701, 12.0),
 (57, 702, 12.0),
 (57, 703, 12.0),
 (57, 6, 12.0),
 (57, 704, 12.0),
 (57, 705, 12.0),
 (57, 706, 12.0),
 (57, 138, 12.0),
 (57, 707, 12.0),
 (57, 708, 12.0),
 (57, 86, 12.0),
 (57, 709, 12.0),
 (57, 710, 12.0),
 (57, 711, 0.0),
 (57, 126, 0.0),
 (57, 5, 0.0),
 (58, 365, 100.0),
 (58, 712, 50.0),
 (58, 713, 25.0),
 (58, 34, 25.0),
 (58, 714, 25.0),
 (58, 715, 25.0),
 (59, 24, 100.0),
 (59, 549, 100.0),
 (59, 136, 100.0),
 (59, 716, 100.0),
 (59, 717, 100.0),
 (59, 718, 100.0),
 (59, 719, 100.0),
 (60, 660, 100.0),
 (60, 720, 100.0),
 (60, 721, 100.0),
 (60, 722, 100.0),
 (60, 723, 100.0),
 (61, 144, 100.0),
 (61, 724, 100.0),
 (62, 1, 100.0),
 (62, 725, 100.0),
 (62, 726, 100.0),
 (62, 727, 100.0),
 (62, 728, 100.0),
 (62, 729, 100.0),
 (63, 730, 100.0),
 (63, 731, 98.0),
 (63, 732, 56.0),
 (63, 158, 28.0),
 (63, 733, 24.0),
 (63, 734, 13.0),
 (63, 735, 13.0),
 (63, 736, 9.0),
 (63, 324, 8.0),
 (63, 464, 7.0),
 (63, 737, 6.0),
 (63, 238, 5.0),
 (63, 738, 4.0),
 (63, 739, 3.0),
 (63, 98, 3.0),
 (63, 237, 3.0),
 (63, 740, 3.0),
 (63, 741, 3.0),
 (63, 1, 3.0),
 (63, 742, 2.0),
 (63, 743, 2.0),
 (63, 41, 2.0),
 (63, 744, 2.0),
 (63, 697, 2.0),
 (63, 745, 2.0),
 (63, 746, 2.0),
 (63, 86, 2.0),
 (63, 747, 1.0),
 (63, 748, 1.0),
 (63, 749, 1.0),
 (63, 750, 1.0),
 (63, 751, 1.0),
 (63, 752, 1.0),
 (63, 753, 1.0),
 (63, 754, 1.0),
 (63, 755, 1.0),
 (63, 756, 1.0),
 (63, 757, 1.0),
 (63, 758, 1.0),
 (63, 759, 1.0),
 (63, 760, 1.0),
 (63, 761, 1.0),
 (63, 47, 1.0),
 (63, 5, 1.0),
 (63, 147, 1.0),
 (63, 762, 1.0),
 (63, 763, 1.0),
 (63, 764, 1.0),
 (63, 161, 1.0),
 (63, 356, 1.0),
 (63, 296, 1.0),
 (63, 483, 1.0),
 (63, 765, 1.0),
 (63, 766, 0.0),
 (63, 767, 0.0),
 (63, 768, 0.0),
 (63, 769, 0.0),
 (63, 770, 0.0),
 (63, 771, 0.0),
 (63, 772, 0.0),
 (63, 773, 0.0),
 (63, 774, 0.0),
 (63, 775, 0.0),
 (63, 776, 0.0),
 (63, 777, 0.0),
 (63, 778, 0.0),
 (63, 779, 0.0),
 (63, 780, 0.0),
 (63, 781, 0.0),
 (63, 782, 0.0),
 (63, 783, 0.0),
 (63, 784, 0.0),
 (63, 785, 0.0),
 (63, 786, 0.0),
 (63, 787, 0.0),
 (63, 788, 0.0),
 (63, 789, 0.0),
 (63, 790, 0.0),
 (63, 791, 0.0),
 (63, 792, 0.0),
 (63, 793, 0.0),
 (63, 794, 0.0),
 (63, 795, 0.0),
 (63, 796, 0.0),
 (63, 797, 0.0),
 (63, 798, 0.0),
 (63, 799, 0.0),
 (63, 800, 0.0),
 (63, 801, 0.0),
 (63, 802, 0.0),
 (63, 803, 0.0),
 (63, 804, 0.0),
 (63, 805, 0.0),
 (63, 806, 0.0),
 (63, 156, 0.0),
 (63, 807, 0.0),
 (63, 808, 0.0),
 (63, 809, 0.0),
 (63, 810, 0.0),
 (63, 811, 0.0),
 (64, 42, 100.0),
 (64, 43, 85.0),
 (64, 812, 42.0),
 (64, 46, 28.0),
 (64, 813, 28.0),
 (64, 814, 28.0),
 (64, 815, 14.0),
 ...]

In [16]:
tid_tag_df = pd.read_sql_query("SELECT * FROM tid_tag", conn)
tid_df = pd.read_sql_query("SELECT * FROM tids", conn)
tag_df = pd.read_sql_query("SELECT * FROM tags", conn)

In [17]:
tid_tag_df

            tid     tag    val
0             1       1  100.0
1             1       2  100.0
2             2       3  100.0
3             2       4  100.0
4             3       5  100.0
...         ...     ...    ...
8598625  505216  108790   50.0
8598626  505216   20027   50.0
8598627  505216    5543   50.0
8598628  505216  221858   50.0
8598629  505216   48341   50.0

[8598630 rows x 3 columns]

In [18]:
tag_df.tag

0                            classic rock
1                        Progressive rock
2                                   blues
3                            memphis slim
4                                     pop
                       ...
522361               the word firecracker
522362                    guilty-pleasure
522363                             eliane
522364                         bossa bova
522365    Eliane elias - Segredos Secrets
Name: tag, Length: 522366, dtype: object

In [19]:
con = sqlite3.connect('data/lastfm_similars.db')
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('similars_src',), ('similars_dest_tmp',), ('similars_dest',)]

In [20]:
similars_src_df = pd.read_sql_query("SELECT * FROM similars_src", con)
similars_dest_tmp_df = pd.read_sql_query("SELECT * FROM similars_dest_tmp", con)
similars_dest = pd.read_sql_query("SELECT * FROM similars_dest", con)

In [21]:
similars_src_df

                       tid                                             target
0       TRCCCYE12903CFF0E9  TRHZRQH128F92F9AC2,0.498053,TRZQUEN12903CBFFBB...
1       TRCCCPM12903CBEEE5  TRNRRXT12903CFAD5A,1,TRWVNWV12903CBEEE7,0.5238...
2       TRCCCFH12903CEBC70  TRRGGCN128F92E3579,0.646036,TRTVJGV128F424A147...
3       TRCCCJT128F429FFF6  TRZSKOT128F429FFFC,1,TRYVKKD12903CEB9E2,1,TRVC...
4       TRCCCBJ128F4286E6F  TRHUKZN128F428B2BD,1,TRMMPCY128F4253A20,0.9906...
...                    ...                                                ...
584892  TRVVVKT128F934B21B  TRGIWYZ128E078D19E,0.159376,TRMXWTH128F9337EE5...
584893  TRVVVNU128F429F3FF  TRELSEL128F428EC4B,1,TRZQXRI128F423CF6C,0.3996...
584894  TRVVVOE128F9356E8F  TRZKEXX128F9356E92,1,TRLPTRO128F9356E9F,0.9688...
584895  TRVVVTB12903CBDA18  TRRPFIH128F14792F8,1,TROZVSY12903CE0A76,1,TRQI...
584896  TRVVVTG128F9305E3C  TRHXCKV128F4282DAD,1,TRDJOVU12903CB0BC7,1,TRTH...

[584897 rows x 2 columns]

In [22]:
similars_dest_tmp_df

Empty DataFrame
Columns: [tid1, tid2, val]
Index: []

In [23]:
similars_dest

                       tid                                             target
0       TRPYHPC128F930F9B0  TRHVKYA128F4289436,0.00100462,TRFONPG128F92FC0...
1       TRJISWW128F42523F5  TRJFNWV128F4224BE2,0.0120832,TRLCUYW128F932938...
2       TRMEZLT128F425F0DB  TRXBRDS12903CB2D9A,0.795339,TRMBEIK128F429B092...
3       TRQODPB128F934C699  TRJLOPB128F428CFE4,0.0411795,TRMHIHC12903CDF3D...
4       TRBDOPE128F422C1EB  TROUHQG128F425BF2B,0.00230093,TRAXWWD128F930A8...
...                    ...                                                ...
636329  TROUXOR128F429114C  TRCCQMV128F421F80D,0.0390803,TRCZBPZ128F424842...
636330  TRAMXMB128F93525F3  TROAPMJ128F93053BA,0.028759,TRMABRC128F930A29C...
636331  TRQQCHF128F9342D51  TRLIEAG128F92CD8A0,0.223078,TRWIHJF128F933A9A2...
636332  TRRVPDQ128F4248B7A                      TRVRHDR128F4252C9A,0.00819855
636333  TRQEDVB128F9306AC8  TRIQVMW12903CFF0FD,0.728872,TRHUTUK128F426B981...

[636334 rows x 2 columns]

In [24]:
 # EXAMPLE 3
print ('************** DEMO 3 **************')
tid = 'TRCCCYE12903CFF0E9'
print ('We get all tags (with value) for track: %s' % tid)
sql = "SELECT tags.tag, tid_tag.val FROM tid_tag, tids, tags WHERE tags.ROWID=tid_tag.tag AND tid_tag.tid=tids.ROWID and tids.tid='%s'" % tid
res = conn.execute(sql)
data = res.fetchall()
print (data)

************** DEMO 3 **************
We get all tags (with value) for track: TRCCCYE12903CFF0E9
[('classic rock', 100.0), ('Progressive rock', 100.0)]

In [25]:
tag_df

                                    tag
0                          classic rock
1                      Progressive rock
2                                 blues
3                          memphis slim
4                                   pop
...                                 ...
522361             the word firecracker
522362                  guilty-pleasure
522363                           eliane
522364                       bossa bova
522365  Eliane elias - Segredos Secrets

[522366 rows x 1 columns]

In [26]:
tid_df

                       tid
0       TRCCCYE12903CFF0E9
1       TRCCCFH12903CEBC70
2       TRCCCJT128F429FFF6
3       TRCCCBJ128F4286E6F
4       TRCCJTI128EF35394A
...                    ...
505211  TRVVVRR128F14840B6
505212  TRVVVDS128F42AFF29
505213  TRVVVNU128F429F3FF
505214  TRVVVXK12903CF0DF3
505215  TRVVVTG128F9305E3C

[505216 rows x 1 columns]

In [27]:
tid_tag_df.tid = tid_tag_df.tid - 1

In [28]:
tid_tag_df

            tid     tag    val
0             0       1  100.0
1             0       2  100.0
2             1       3  100.0
3             1       4  100.0
4             2       5  100.0
...         ...     ...    ...
8598625  505215  108790   50.0
8598626  505215   20027   50.0
8598627  505215    5543   50.0
8598628  505215  221858   50.0
8598629  505215   48341   50.0

[8598630 rows x 3 columns]

In [29]:
tid_tag_df_1 = pd.merge(tid_tag_df, tid_df, left_on = 'tid', right_index=True, how = 'left').drop(columns = 'tid_x')

In [30]:
tid_tag_df_1.tag = tid_tag_df_1.tag - 1

In [31]:
tid_tag_df_2 = pd.merge(tid_tag_df_1, tag_df, left_on = 'tag', right_index = True, how = 'left').drop(columns = 'tag_x')

In [32]:
tid_tag_df_2.columns = ['val', 'track_id','tag']

In [33]:
tid_tag_df_2[tid_tag_df_2.tag == 'classic rock']

           val            track_id           tag
0        100.0  TRCCCYE12903CFF0E9  classic rock
887      100.0  TRCCDJG128E0785144  classic rock
911        3.0  TRCCEGW128F92FE7DE  classic rock
1348      50.0  TRCCZOW128F146A22D  classic rock
1408      33.0  TRCCTGM12903D05323  classic rock
...        ...                 ...           ...
8597165   22.0  TRVVUKK12903CBA792  classic rock
8597339  100.0  TRVVUHY128F930E962  classic rock
8597520    0.0  TRVVUGB12903CB4FDE  classic rock
8597652   21.0  TRVVULS128F92E5FD4  classic rock
8598150   10.0  TRVVVFG128F93187B1  classic rock

[25771 rows x 3 columns]

In [34]:
pd.merge(songs_temp, tid_tag_df_2, left_on = 'track_id_x', right_on = 'track_id', how = 'left')

,track_id_x,val,track_id,tag
0,TRAABJS128F9325C99,100.0,TRAABJS128F9325C99,dream pop
1,TRAABJS128F9325C99,77.0,TRAABJS128F9325C99,indie
2,TRAABJS128F9325C99,44.0,TRAABJS128F9325C99,skins
3,TRAABJS128F9325C99,33.0,TRAABJS128F9325C99,Sigh and swoon in equal measure
4,TRAABJS128F9325C99,33.0,TRAABJS128F9325C99,downtempo
...,...,...,...,...
585493,TRZZZYR128F92F0796,3.0,TRZZZYR128F92F0796,OLP supermans dead
585494,TRZZZYR128F92F0796,3.0,TRZZZYR128F92F0796,107dot5
585495,TRZZZYR128F92F0796,3.0,TRZZZYR128F92F0796,favourite songz
585496,TRZZZYR128F92F0796,3.0,TRZZZYR128F92F0796,like it
585497,TRZZZYR128F92F0796,3.0,TRZZZYR128F92F0796,SUPERMANS DEAD - OUR LADY PEACE

In [35]:
listen_data_small_updated = small_merged.drop(columns = ['song_id'])

In [36]:
pd.merge(listen_data_small_updated, tid_tag_df_2, right_on = 'track_id', left_on = 'track_id', how = 'left')

,user_id,item_id,listen_count,track_id,artist,title,val,tag
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,TRIQAUQ128F42435AD,Jack Johnson,The Cove,100.0,instrumental
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,TRIQAUQ128F42435AD,Jack Johnson,The Cove,90.0,acoustic
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,TRIQAUQ128F42435AD,Jack Johnson,The Cove,50.0,guitar
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,TRIQAUQ128F42435AD,Jack Johnson,The Cove,40.0,Mellow
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,TRIQAUQ128F42435AD,Jack Johnson,The Cove,40.0,chill
...,...,...,...,...,...,...,...,...
127622530,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJYOLS12A8C13C06F,1,TRZWHPU128F429B80F,Tegan And Sara,Soil_ Soil (Album Version),100.0,piano
127622531,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJYOLS12A8C13C06F,1,TRZWHPU128F429B80F,Tegan And Sara,Soil_ Soil (Album Version),100.0,indie pop
127622532,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJYOLS12A8C13C06F,1,TRZWHPU128F429B80F,Tegan And Sara,Soil_ Soil (Album Version),100.0,female vocalists
127622533,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJYOLS12A8C13C06F,1,TRZWHPU128F429B80F,Tegan And Sara,Soil_ Soil (Album Version),100.0,delicate
127622534,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJYOLS12A8C13C06F,1,TRZWHPU128F429B80F,Tegan And Sara,Soil_ Soil (Album Version),100.0,breath-taking

In [37]:
tid_tag_df_small = tid_tag_df_2[tid_tag_df_2.track_id.isin(listen_data_small_updated.track_id)]

In [38]:
tid_tag_df_small = tid_tag_df_small.drop_duplicates(subset=['track_id','tag'])

In [39]:
tid_tag_df_small

           val            track_id             tag
1066     100.0  TRCCPUL128F4285F96             dub
1067      84.0  TRCCPUL128F4285F96          reggae
1068      69.0  TRCCPUL128F4285F96     New Zealand
1069      34.0  TRCCPUL128F4285F96            Kiwi
1070      30.0  TRCCPUL128F4285F96           chill
...        ...                 ...             ...
8596821    1.0  TRVVQDF128F932A497          luv it
8596822    1.0  TRVVQDF128F932A497       americain
8596823    1.0  TRVVQDF128F932A497       explosion
8596824    1.0  TRVVQDF128F932A497  another planet
8596825    1.0  TRVVQDF128F932A497      eudaimonia

[584198 rows x 3 columns]

In [40]:
tid_tag_pivot = tid_tag_df_small.pivot(index = 'track_id', columns='tag', values='val')

In [41]:
tid_tag_pivot = tid_tag_pivot.fillna(0)

In [42]:
listen_data_small_updated

,user_id,item_id,listen_count,track_id,artist,title
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,TRIQAUQ128F42435AD,Jack Johnson,The Cove
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,TRMHBXZ128F4238406,Paco De Lucia,Entre Dos Aguas
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,TRHNCIR128F42334A5,Kanye West,Stronger
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,TRUATNS128F423457D,Kanye West,Stronger
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,TRYBNIB128F428E704,Jack Johnson,Constellations
...,...,...,...,...,...,...
2086941,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJEYPO12AAA8C6B0E,2,TRGQGIM128F92F438F,Paramore,Ignorance (Album Version)
2086942,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJJYDE12AF729FC16,4,TRAWVYP128F9305DF2,Boys Like Girls featuring Taylor Swift,Two Is Better Than One
2086943,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJKQSF12A6D4F5EE9,3,TRTWFKE128EF35F93B,Linkin Park,What I've Done (Album Version)
2086944,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJUXGA12AC961885C,1,TRZAVEC12903CD2DD2,Justin Bieber,Up
2086945,d8bfd4ec88f0f3773a9e022e3c1a0f1d3b7b6a92,SOJYOLS12A8C13C06F,1,TRZWHPU128F429B80F,Tegan And Sara,Soil_ Soil (Album Version)

In [45]:
tid_tag_pivot.to_csv('data/track_tag_features.csv')

In [1]:
tid_tag_pivot

NameError: name 'tid_tag_pivot' is not defined